@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(231,230,233);
    
}
p{
    margin: 10px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: white;
}
.logo{
    display: flex;
    align-items:center ;
}
.primary-color{
    color: rgb(255,66,165);
}
.logo h2{
    font-size: 3rem;
}
.menus ul{
    display: flex;
    align-items: center;
}
.menus ul li{
    margin-right: 20px;
    list-style: none;
}
.menus ul li a{
    color: black;
    font-size: 1.1rem;
}

ul .ytb-tiktok{
    background-color:rgb(231,230,233);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-right:0 ;
}
 li:last-child
{
    margin-right:0;
}
/* start header banner */
.header-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}
.header-img img{
    width: 70%;
}
.header-info h2{
    text-transform: uppercase;
}
.header-info h1{
    font-size: 6rem;
    color: rgb(213,77,198);
}
.header-info .btns-1{
    color: white;
    background: rgb(255,36,189);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 10px;
}
.header-info .btns-2{
    color: white;
    background: rgb(78,197,247);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 10px;
}
/* end header banner */