@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif; 
}
p{
    margin: 10px 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: white;
}
.logo{
    display: flex;
    align-items:center ;
}
.primary-color{
    color: rgb(255,66,165);
}
.logo h2{
    font-size: 3rem;
}
.menus ul{
    display: flex;
    align-items: center;
}
.menus ul li{
    margin-right: 20px;
    list-style: none;
}
.menus ul li a{
    color: black;
    font-size: 1.1rem;
}

ul .ytb-tiktok{
    background-color:rgb(231,230,233);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-right:0 ;
}
 li:last-child
   {
    margin-right:0;
    }
/* start header banner */
.header-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    margin-right: 50px;
}
.header-img img{
    width: 70%;
}
.header-info h2{
    text-transform: uppercase;
}
.header-info h1{
    font-size: 6rem;
    color: rgb(213,77,198);
}
.btns-1{
    color: white;
    background: rgb(255,36,189);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
}
.header-info .btns-2{
    color: rgb(5, 5, 5);
    background: rgb(78,197,247);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
}
/* end header banner */
/* banner start */
.banner-container-pro{
    background: rgb(182, 7, 66);
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.banner-img img{
    width: 90%;
}
.banner-info{
    text-align: right;
}
.banner-info h2{
    color: rgb(190,80,210);
}
/* banner end */
.online-games-info{
    text-align: center;
}
.online-games-info h2{
    font-size: 3rem;
}
.funnys-vid{
    color: rgb(190,80,210);
}
.online-img{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 80%;
    margin: auto;
    gap: 10px;
}
.online-img p{
    font-size: 13px;
    margin-right: 10px ;
}
.online-img img{
    width: 200px;
    margin-top: 50px;
}
/* online game end */

.play-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    margin-right: 50px; 
}
.play-main-img img{
    width: 70%;
}
.play-rel-img img{
    width: 200px;
    position: relative;
    bottom: 170px;
    right: 90px;
}
.play-info{
    text-align: center;
}
.play-info h2{
    font-size: 3rem;
}
.playsword{
    color: rgb(238,143,215);
}

/* button design start  */
.all-buttons{
    height: 300px;
}
.button-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
}
.five-buttons{
    border: 1px solid transparent;
    width: 220px;
}
.five-buttons img{
    padding: 5px;
    width: 50px;
}
.five-buttons a{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 5px;

}
.five-buttons:hover a{
    border: 1px solid rgb(255,113,187);
    border-radius: 25px;
    color: rgb(255,113,187);
}
/* down button design */

.downsbuttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin:0 auto;
    align-content: center;
    width: 60%;
    margin-top: 30px;
}

.four-button img{
    width: 50px;
}
.four-button a{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}
.four-button a:hover {
    border: 1px solid rgb(255,113,187);
    border-radius: 25px;
    color: rgb(255,113,187);
}
/* footer des */
footer{
    background: rgb(11,2,35);
    height: 300px;
    align-content: center;
    padding-top: 100px;
}
.foot-container{
    align-content: center;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.logos h2{
    color: white;
}
.foot-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-menu a{
    padding: 10px;
    text-align: center;
    color: white;
}
.foot-social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-social-icon a{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.foot-pri{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-pri a{
    color: rgb(12,48,102);
    padding: 20px;
}
.foot-dis p{
    color: rgb(12,48,102);
    text-align: center;
}
/* button design end  */
/* start mobile respon */

@media screen and (max-width:576px) {
    nav, .menus ul, .header-banner, .online-img, .play-container
    {
        flex-direction: column;
    }
    p{
        font-size: 14px;
    }
    nav{
        height: 100%;
    }
    .menus ul li{
        margin-top: 10px;
    }
    .header-banner{
        margin-top: 50px;
    }
    .header-info h1{
        font-size: 4rem;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-info {
        text-align: center;
    }
    .online-img{
        margin: 5px auto;
    }
    .online-games-info h2{
        font-size: 1.5rem;
    }
    .play-info h2{
        font-size: 1.5rem;
    }
    .play-rel-img img{
        width: 100px;
        position: relative;
        bottom: 100px;
        right: 50px;
    }
    .play-main-img img{
        width: 200px;
    }
    .play-container{
        align-items: center;
        margin-top: 30px;
    }
    .button-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .downsbuttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    footer{
        margin-top: 100px;
    }
    .foot-menu{
        display: none;
    }
}


/* start tab respon */
@media screen and (min-width:577px) and (max-width:1024px) {
    .header-info h1{
        font-size: 3rem;
    }
    .header-banner{
        gap: 30px;

        }
 .online-games-info h2{
    font-size: 2rem;
 }
 .online-img img{
    width: 150px;
    align-items: center;
 }
 .play-container{
    flex-direction: column;
 }
 .button-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.downsbuttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
footer{
    margin-top: 100px;
}
}